// Layout
.row {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;

  @media only screen and (min-width: 1600px) {
    max-width: 1600px;
  }

  &.is-fullwidth {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }
}

.col-6 {
  width: 50%;
}

// Animation
@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}