// Layout
.row {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;

  @include tablet {
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: $d-content-width-max;
  }

  &.is-fullwidth {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  }

  & + & {
    margin-top: 1.5rem;
  }
}

$columnCount: 12;
.col {
  @for $i from 1 to $columnCount {
    &-#{$i} {
      width: 100%;

      @include tablet {
        width: calc(100% / #{($columnCount / $i)});
      }
    }
  }
}

.col-sm {
  @for $i from 1 to $columnCount {
    &-#{$i} {
      width: calc(100% / #{($columnCount / $i)});
    }
  }
}


// Animation
@keyframes animateCloud {
  from {
    margin-left: -1000px;
  } 
  to {
    margin-left: 100%;
  }
}

@keyframes fadeInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.change-page-enter-active {
  transition: all .8s ease;
}
.change-page-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.change-page-enter, .change-page-leave-to {
  transform: translateY(.5rem);
  opacity: 0;
}

// Reset 
a,
a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

// Font
// TODO: refactor with loop (?)
h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}
