// Media query
@mixin mobile {
  @media only screen and (max-width: $b-mobile) {
    @content;
  }
}
  
@mixin tablet {
  @media only screen and (min-width: $b-tablet) {
    @content;
  }
}
  
@mixin desktop {
  @media only screen and (min-width: $b-desktop) {
    @content;
  }
}
  
// Typography
@mixin h1 {
  font-size: $f-size-h1-mobile;
  font-weight: bold;
  text-transform: uppercase;
  line-height: .9;
  
  @include tablet {
    font-size: $f-size-h1-desktop;
  }
}
  
@mixin h2 {
  font-size: $f-size-h2-mobile;
  font-weight: bold;
  text-transform: uppercase;
  line-height: .9;
  
  @include tablet {
    font-size: $f-size-h2-desktop;
  }
}
  
@mixin h3 {
  font-size: $f-size-h3-mobile;
  font-weight: bold;
  text-transform: uppercase;
  line-height: .9;
  
  @include tablet {
    font-size: $f-size-h3-desktop;
  }
}