.info-block {
  $root: &;
  width: 100%;

  &:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 2px solid $c-white;
  }

  & + & {
    margin-top: 2rem;
  }

  &.is-half {
    @include tablet {
      width: calc(50% - 1rem);
  
      &:nth-child(2) {
        margin-top: 0;
      }
    }
  }

  &__title {
    @include h5;
    margin-bottom: 2rem;
  }

  &.frameworks {
    #{$root}__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -0.75rem 0 0 1rem;
    }

    #{$root}__item {
      margin-left: 1rem;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: .75rem;
  }

  .progress {
    width: 100%;
    height: .5rem;
    border-radius: .5rem;

    &-bar {
      background-color: $c-progress-outer;
    }
  }

  &__item-name {
    flex: 1;
    @include h6;
  }

  &__item-value {
    flex: 1;
    text-align: right;

    @include desktop {
      flex: 2;
    }
  }
}
