#nav {
  $root: &;
  position: relative;
  top: 0;
  width: 100%;
  height: $d-nav-height;
  z-index: 1;
  background-color: rgba($color: $c-black, $alpha: .8);
  opacity: .5;

  &.is-sticky {
    opacity: 1;

    .row {
      position: fixed;
    }

    .nav-items {
      animation: fade-in-from-top 1s;
    }
  }

  // TODO: reset style
  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
  }

  .nav-items {
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    transition: all 10s ease;
  }

  .nav-item {
    color: $c-white;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid transparent;

    &:hover,
    &.is-active {
      border-color: $c-white;
    }

    & + .nav-item {
        margin-left: 1rem;
    }
  }
}