#nav {
  $root: &;
  position: relative;
  top: 0;
  width: 100%;
  height: $d-nav-height;
  z-index: 1;
  background-color: rgba($color: $c-black, $alpha: .9);

  &.is-sticky {
    opacity: 1;

    .row {
      position: fixed;

      @media only screen and (max-width: 1400px) {
        animation: fadeInFromTop .8s;
        background-color: $c-black;
      }
    }

    .nav-items {
      animation: fadeInFromTop 1s;
    }
  }

  .nav-items {
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    transition: all 10s ease;
  }

  .nav-item {
    color: $c-white;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;
    border-radius: .5rem;
    border: 2px solid transparent;

    &:hover,
    &.is-active {
      border-color: $c-white;
    }

    & + .nav-item {
        margin-left: 1rem;
    }
  }
}