#nav {
  $root: &;
  position: relative;
  top: 0;
  width: 100%;
  height: $d-nav-height;
  z-index: 2;
  background-color: rgba($color: $c-black, $alpha: 0.9);
  line-height: 1;

  &.is-sticky {
    opacity: 1;

    .row {
      position: fixed;

      @media only screen and (max-width: 1400px) {
        animation: fadeInFromTop 0.8s;
        background-color: $c-black;
      }
    }

    .nav-items {
      animation: fadeInFromTop 1s;
    }
  }

  .nav-items {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    transition: all 10s ease;
  }

  .nav-item {
    color: $c-white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 2px solid transparent;

    &:not(.b-nav-dropdown) {
      padding: 1rem;
    }

    &:not(.secondary):hover,
    &:not(.secondary).is-active {
      border-color: $c-white;
    }

    &.secondary:hover,
    &.secondary.is-active {
      text-decoration: underline;
    }

    & + .nav-item {
      margin-left: 1rem;
    }

    &.secondary {
      margin-left: 0;
    }
  }

  // overwrite default from Bootstrap
  .nav-link {
    padding: 1rem;
  }

  .dropdown-menu {
    background-color: rgba($color: $c-black, $alpha: 0.6);
    border: 1px solid white;
  }
}
