.info-block {
  $root: &;
  width: 100%;

  &:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 2px solid $c-white;
  }

  & + & {
    margin-top: 2rem;
  }

  @include tablet {
    width: calc(50% - 1rem);

    &:nth-child(2) {
      margin-top: 0;
    }
  }

  &__title {
    @include h5;
    margin-bottom: 2rem;
  }

  &__item {
    display: flex;

    & + #{$root}__item {
      margin-top: 0.75rem;
    }
  }

  &__item-name {
    flex: 1;
    @include h6;
  }

  &__item-value {
    flex: 1;
    text-align: right;

    @include desktop {
      flex: 2;
    }
  }
}
