.timeline {
  $root: &;
  width: 100%;

  & + & {
    margin-top: 2.5rem;
  }

  &__title {
    @include h5;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;

    .b-icon {
      margin-right: 0.5rem;
    }
  }

  &__content {
    position: relative;

    @include tablet {
      margin-left: 200px;

      &::before {
        top: 10px;
        left: 0;
        bottom: 0;
        width: 2px;
        content: "";
        position: absolute;
        background: $c-white;
      }
    }
  }
}
