.timeline-item {
  position: relative;

  @include tablet {
    padding-left: 1rem;

    &::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: -3px;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background: $c-white;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      top: 1rem;
      left: 0;
      bottom: 0;
      width: 2px;
      background: $c-yellow;
    }
  }

  & + & {
    margin-top: 2rem;
  }

  &__period {
    @include caption;
    margin-bottom: 0.5rem;

    @include tablet {
      position: absolute;
      width: 160px;
      right: 100%;
      left: auto;
      margin-right: 1.5rem;
      padding: 0.25rem 0.5rem;
      border: 1px solid $c-white;
      text-align: center;
    }
  }

  &__title {
    @include h6;
    margin-bottom: 0.5rem;
  }
}
