.timeline {
  $root: &;
  width: 100%;

  & + & {
    margin-top: 2.5rem;
  }

  &__title {
    @include h5;
    margin-bottom: 2rem;
  }

  &__content {
    @include tablet {
      padding-left: 200px;
    }
  }
}