.work {
  padding: 5rem 0;
  color: $c-white;
  background-color: rgba($color: lightblue, $alpha: .9);
  overflow: hidden;
  display: flex;
  align-items: center;

  .row-content {
    max-width: 800px;
    margin: 0 auto;
  }

  .about-me .resume-block__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}